<!DOCTYPE html>
<html layout:decorate="~{layout}"
	  xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<section class="layout-content" layout:fragment="corpo">
		<main role="main">
		
			<section class="jumbotron text-center">			
				<img class="d-block mx-auto mb-4" src="/image/spring-security.png"
					width="72" height="72">
				<div class="container">
					<h1 class="jumbotron-heading">Clínica Spring Security</h1>
					<p class="lead text-muted">Médicos e Especialistas</p>
				</div>
			</section>

			<div class="album py-5 bg-light">
			    <div class="container">
			        <div class="text-center">
			            <h1 class="h3 mb-3 font-weight-normal">
			                <i class="oi oi-warning"></i>
			                <span th:text="${status}"></span>
			            </h1>
			
			            <i class="fas fa-user-lock"></i>
			            <h5 class="text-danger" th:text="${error}"></h5>
			
			            <div>
			                <span th:text="${message}"></span><br/><br/>
			                <a class="btn btn-primary" type="button" href="javascript:history.back()">Voltar a página anterior</a>
			            </div>
			        </div>
			    </div>
			</div>
		</main>
	    <script	th:src="~{}" th:fragment="js"></script>
		<script th:inline="javascript" th:fragment="inlinescript"></script>
</section>
</body>
</html>	