<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">
		<main role="main">

		<section class="jumbotron text-center">
			<img class="d-block mx-auto mb-4" th:src="@{/image/spring-security.png}"
				width="72" height="72">
			<div class="container">
				<h1 class="jumbotron-heading">Clínica Spring Security</h1>
				<p class="lead text-muted">Contamos com toda a infraestrutura e
					segurança para você e sua família.  Cadastre-se e agende suas consultas
					com os melhores médicos da região.</p>
			</div>
		</section>

		<div class="album py-5 bg-light">

			<div class="container">

				<div class="row">
					<div class="col-md-4">
						<div class="card mb-4 box-shadow">
							<img class="card-img-top" th:src="@{/image/medicina_1.jpg}">
							<div class="card-body">
								<h5 class="card-title">Medicina Esportiva</h5>
								<p class="card-text">Abordagem do atleta de uma forma
									global, desde a fisiologia do exercício à prevenção de lesões,
									passando pelo controle de atletas profissionais e amadores...</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card mb-4 box-shadow">
							<img class="card-img-top" th:src="@{/image/medicina_2.jpg}">
							<div class="card-body">
								<h5 class="card-title">Cardiologia</h5>
								<p class="card-text">A cardiologia aborda as doenças
									relacionadas com o coração e sistema vascular. Em nossa clínica
									contamos com os melhores...</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card mb-4 box-shadow">
							<img class="card-img-top" th:src="@{/image/medicina_3.jpg}">
							<div class="card-body">
								<h5 class="card-title">Clínica Médica</h5>
								<p class="card-text">Complexo preparado com uma estrutura
									que engloba todas as áreas não cirúrgicas, sendo subdividida em
									várias outras especialidades...</p>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="card mb-4 box-shadow">
							<img class="card-img-top" th:src="@{/image/medicina_4.jpg}">
							<div class="card-body">
								<h5 class="card-title">Pediatria</h5>
								<p class="card-text">Nossa clínica conta com a parte da
									medicina que estuda e trata crianças. Possuímos quartos
									exclusivos para esta faixa etária com...</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card mb-4 box-shadow">
							<img class="card-img-top" th:src="@{/image/medicina_5.jpg}">
							<div class="card-body">
								<h5 class="card-title">Cirurgia Plástica</h5>
								<p class="card-text">Correção das deformidades, malformações
									ou lesões que comprometem funções dos órgãos através de
									cirurgia de caráter reparador...</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card mb-4 box-shadow">
							<img class="card-img-top" th:src="@{/image/medicina_6.jpg}">
							<div class="card-body">
								<h5 class="card-title">Ginecologia e obstetrícia</h5>
								<p class="card-text">é a especialidade médica que aborda de
									forma integral a mulher. Trata desde as doenças infecciosas
									sexuais, gestação, alterações...</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		</main>
	</section>
	<script th:src="~{}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript"></script>
</body>
</html>